# Managed by Ansible; local edits will be overwritten.
BITKV_ARGS="--dir {{ bitkv_data_dir }} --port {{ bitkv_port }} --metrics-port {{ bitkv_metrics_port }} --sync {{ bitkv_sync_mode }} --max-file-size {{ bitkv_max_file_size }}"
